@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: "Poppins", sans-serif;
   margin: 0;
}
::selection{
  background-color:#0b372dbb; 
}
.logo {
   width: 100px;
}
header {
   position: absolute;
   z-index: 9999;
   width: 100%;
   padding: 0.9rem 0;
   top: 0;
   left: 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header nav {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header ul {
   display: flex;
   list-style: none;
   align-items: center;
}
header ul a {
   text-decoration: none;
   color: #fff;
   padding: 0 1.5rem;
   text-transform: uppercase;
   font-weight: 300px;
   font-size: 0.83rem;
}
.search a {
   font-size: 1.05rem;
   padding: 0 3rem;
}
.hamburger {
   padding-left: 1.5rem;
}
.hamburger a {
   padding: 0;
   width: 37px;
   height: 37px;
   display: flex;
   border-radius: 50%;
   background-color: rgba(115, 115, 115, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   justify-content: center;
   align-items: center;
}
.hamburger .bar {
   position: relative;
   width: 52%;
   height: 1.3px;
   background: #fff;
   border-radius: 2px;
}
.hamburger .bar::before,
.hamburger .bar::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 60%;
   height: 100%;
   background-color: inherit;
   border-radius: 2px;
}
.hamburger .bar::before {
   top: -4.5px;
}
.hamburger .bar::after {
   top: 4.5px;
}
main {
   position: relative;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}
.parallax{
  pointer-events: none;
  transition:0.45s cubic-bezier (0.2,0.49,0.32,0.99);
}
.bg-img {
   position: absolute;
   width: 2900px;
   top: calc(50% - 360px);
   left: calc(50%);
   
   z-index: 1;
}
.fog-7 {
   position: absolute;
   z-index: 2;
   width: 2000px;
   top: calc(50% - 100px);
   left: calc(50% + 280px);
   
}
.mountain-10 {
   position: absolute;
   z-index: 3;
   width: 900px;
   top: calc(60%);
   left: calc(65%);
   
}
.fog-6 {
   position: absolute;
   z-index: 4;
   width: 1800px;
   top: calc(50% + 150px);
   left: calc(50%);
   
}
.mountain-9 {
   position: absolute;
   z-index: 5;
   top: calc(50% + 120px);
   width: 470px;
   left: calc(50% - 475px);
   
}
.mountain-8 {
   position: absolute;
   z-index: 6;
   top: calc(50% + 115px);
   width: 810px;
   left: calc(50% - 225px);
   
}
.fog-5 {
   position: absolute;
   z-index: 7;
   width: 550px;
   top: calc(50% + 20px);
   left: calc(50% - 150px);
   
}
.mountain-7 {
   position: absolute;
   z-index: 8;
   top: calc(50% + 100px);
   width: 540px;
   left: calc(50% + 300px);
   
}
.text {
   position: absolute;
   z-index: 9;
   top: calc(50% - 100px);
   left: calc(50%);
   text-align: center;
   text-transform: uppercase;
   pointer-events: auto;
   color: #fff;
}
.text h2 {
   font-weight: 100;
   font-size: 6.5rem;
   line-height: 0.9;
}
.text h1 {
   font-weight: 800;
   font-size: 8rem;
   line-height: 0.9;
}

.mountain-6 {
   position: absolute;
   z-index: 10;
   top: calc(50% + 100px);
   width: 400px;
   left: calc(50% + 590px);
   
}
.fog-4 {
   position: absolute;
   z-index: 11;
   width: 625px;
   top: calc(50% + 220px);
   left: calc(50% + 590px);
   
}
.mountain-5 {
   position: absolute;
   z-index: 12;
   top: calc(50% + 250px);
   width: 625px;
   left: calc(50% + 130px);
   
}
.fog-3 {
   position: absolute;
   z-index: 13;
   width: 1600px;
   top: calc(50% + 110px);
   left: calc(50% - 15px);
   
}
.mountain-4 {
   position: absolute;
   z-index: 14;
   top: calc(50% + 200px);
   width: 630px;
   left: calc(50% - 430px);
   
}
.mountain-3 {
   position: absolute;
   z-index: 15;
   top: calc(50% + 80px);
   width: 500px;
   left: calc(50% + 750px);
   
}
.fog-2 {
   position: absolute;
   z-index: 16;
   width: 1833px;
   top: calc(50% + 110px);
   left: calc(50% + 200px);
   
}
.mountain-2 {
   position: absolute;
   z-index: 17;
   top: calc(50% + 120px);
   width: 540px;
   left: calc(50% + 450px);
   
}
.mountain-1 {
   position: absolute;
   z-index: 18;
   top: calc(50% + 50px);
   width: 500px;
   left: calc(50% - 610px);
   
}
.sun-rays{
  position:absolute;
  z-index:19;
  top:0;
  right:0;
  width:600px;
  pointer-events: none;
  
}
.black-shadow{
  position:absolute;
  z-index:20;
  bottom:0;
  right:0;
  width:100%;
  pointer-events: none;
}
.fog-1{
  position: absolute;
   z-index: 21;
   width: 1600px;
   top: calc(100% - 355px);
   left: 50%;
   
}
.vignette{
  position: absolute;
  z-index:100;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background:radial-gradient(ellipse at center, rgba (0,0,0,0)65%,rgba(0,0,0,0.7))
  pointer-events: none;
}